body{

    font-variant:small-caps;
    
}
h1{
    color: antiquewhite;

}
a:link, a:visited, a:active {
	text-decoration:none;
	}
a:hover {
	text-decoration: underline; 
	color:rgb(247, 7, 7); 
	background:rgb(248, 5, 5); 
 }
    

    #teste{position:relative;top:0}
    #teste:hover{top:-50px;box-shadow:0 50px 50px rgb(235, 4, 4);
       transition: all .2s ease-in-out}